<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Workout</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    </head>
    <body id="bodyLogin">

        <div class="transparentBar">
            <a href="/homepage"class="mainHeader">Add a Workout</a>
        </div>

        {% if message %}
            <div class="errorMessage" >
                <p>{{ message }}</p>
            </div>
        {% endif %}


        <form action="/add_workouts" method="POST" id="loginBars">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">

            <label for="password">Calories:</label>
            <input type="text" id="calories" name="calories">

            <label for="name">Reps:</label>
            <input type="text" id="reps" name="reps">

            <label for="name">Sets:</label>
            <input type="text" id="sets" name="sets">

            <label for="password">Date/Time:</label>
            <input type="text" id="date" name="date">

            <label for="notes">Notes:</label>
            <input type="text" id="notes" name="notes">

            <button type="submit" id="loginButton">Add</button>

        </form>

    </body>
</html>