<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gyms</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/gyms.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    </head>
    <body id="bodyLogin">

        <div class="transparentBar">
            <a href="/homepage"class="mainHeader">Gyms</a>
        </div>

        <h2>Available Gyms:</h2>

        <div class="buttonPanels">
            <a href="/404" class="panel">
                <button type="button">
                    <img src="/static/icons/gym.svg" class="buttonIcon"> 404 Fitness
                </button>
            </a>
            <a href="/Palladium" class="panel">
                <button type="button">
                    <img src="/static/icons/gym.svg" class="buttonIcon"> Palladium
                </button>
            </a>
            <a href="/brooklyn" class="panel">
                <button type="button">
                    <img src="/static/icons/gym.svg" class="buttonIcon"> Brooklyn Atheltic Facility
                </button>
            </a>
            <a href="/paulson" class="panel">
                <button type="button">
                    <img src="/static/icons/gym.svg" class="buttonIcon"> Paulson Center
                </button>
            </a>
        </div>


    </body>
    
</html>