<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nutrition</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/nutrition.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    </head>
    <body id="bodyLogin">

        <div class="transparentBar">
            <a href="/homepage"class="mainHeader">Nutrition</a>
        </div>

        <h2></h2>
        <div class="buttonPanels">
            <a href="/add_meal" class="panel">
                <button type="button">
                    <img src="/static/icons/plus.svg" class="buttonIcon"> 
                    <p>Add New Meal</p>
                </button>
            </a>
            {% for meal in user_meals %}
                <div class="panel">
                    <img src="/static/icons/nutrition.svg" class="buttonIcon">
                    <p>Meal: {{ meal }}</p>  
                    <button type="button">View/Edit Meal</button>
                </div>
            {% else %}
                <div class="panel">
                    <p>No meals found.</p>
                </div>
            {% endfor %}
        </div>


    </body>
    
</html>